@font-face {
  font-family: "Franklin Light";
  src: url("./assets/LibreFranklin-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Franklin";
  src: url("./assets/LibreFranklin-VariableFont_wght.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Franklin Bold";
  src: url("./assets/LibreFranklin-VariableFont_wght.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Karnak Condensed";
  src: url("./assets/Karnak-Condensed.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
